.char-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 0.5rem;
}

.btn-amazigh {
    background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
    border: 1px solid #8f8f8f;
    box-shadow: inset 0 0 2px #ffffff;
    color: #cc0033;
    transition: all 0.15s ease-in-out;
}


.btn-amazigh:hover {
    background: linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%);
    border-color: #7a7a7a;
    box-shadow: inset 0 0 5px #cccccc;
    color: #cc0033;
}